---
title: About
---
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="main-heading text-primary">Jeff Zabel</h1>
        <p>Jeff Zabel is an experienced entrepreneur and maker.  His focus is on building beautiful products and exceptional teams.  Most recently Jeff Co-founded and was the Chief Product Officer of <a href="https://datahero.com">Datahero</a>, an online data analytics software service built for the everyday user to unmask the answers in their data.  He is an expert at unearthing customer needs and designing solutions where technology enhances the consumer experience.</p>
        <p>Prior to starting Datahero, Jeff worked at the BMW Technology Office in Palo Alto and at BMW AG in Munich.  During his time at BMW, he led the development of <a href="http://www.motoringfile.com/2010/02/22/world-debut-mini-connected/" target="_blank">integrated iPhone applications</a> like Pandora, Web Radio and Facebook from early prototypes to release in all BMW Group vehicles.  Additionally, Jeff was responsible for the first in-vehicle integrations with <a href="https://googleblog.blogspot.com/2007/03/google-maps-send-to-car.html" target="_blank">Google Maps</a> and <a href="http://google-latlong.blogspot.com/2007/08/in-car-google-local-search-with-bmw.html" target="_blank">Local Search</a>.</p>
        <p>Jeff holds a bachelor’s degree in mechanical engineering from Santa Clara University and a master’s degree in mechanical engineering from Stanford University.</p>
      </div>
    </div>
  </div>
</section>