---
title: About
---
<section id="about">
  <div class="container">
    <h1>Jeff Zabel</h1>
    <p>TESTING: This is a Assemble Generator template using <a href="http://getbootstrap.com">Bootstrap</a>. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a href="blog.html" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
  </div>
</section>