---
title: Home
heading: 'Yo, Assemble!'
lead: Welcome to my blog!
---
<section id="home">
  <div class="container-fluid">
    <div class="intro">
      <div class="row">
        <div class="logo col-xs-1">
          JZ
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8">
          <h1 class="main-heading">Developer </br>
            Collaborator </br>
            Maker
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8">
          <p>Interested in working together?</p>
            <p>
              <a href="mailto:hello@zabel.me" target="_blank">
                <i class="fa fa-paper-plane-o"></i> hello@zabel.me
              </a>
            </p>
        </div>
        <div class="col-xs-6 col-md-4">
          <div class="social-icons">
            <a href="https://www.linkedin.com/in/jzabel" target="_blank">
              <i class="fa fa-linkedin-square fa-3x"></i>
            </a>
            <a href="https://github.com/jzabel" target="_blank">
              <i class="fa fa-github-square fa-3x"></i>
            </a>
            <a href="https://twitter.com/jczabel" target="_blank">
              <i class="fa fa-twitter-square fa-3x"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>