---
title: Home
heading: 'Yo, Assemble!'
lead: Welcome to my blog!
---
<section id="home">
  <div class="container">
    <div class="intro">
      <h1>Jeff Zabel</h1>
      <h3>Unearthing customer needs &amp; innvoating intelligent solutions</h3>
    </div>
  </div>
</section>